@inherits LayoutComponentBase

<PageTitle>Library_WebApp</PageTitle>

<div class="navbar navbar-dark bg-dark">
    <NavMenu />
</div>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>