@inject NavigationManager Navigator﻿

<BSNav Class="container-fluid d-flex align-items-center">
        <BSNavbarBrand>
            <img class="logo" src="Images/logo.png" alt="forecastr logo">
        </BSNavbarBrand>
        <div class="d-flex flex-row mx-auto">
            <NavLink href="/" Class="text-white nav-item nav-link">Home</NavLink>
            <NavLink href="#" Class="text-white nav-item nav-link">About</NavLink>
            <NavLink href="/login" Class="text-white nav-item nav-link">Login</NavLink>
        </div>
</BSNav>


<style>
    .logo
    {
        width: 60px;
        height: 40px;
    }
</style>

@code
{
    
}