@page "/login"

<div class="container-fluid d-flex justify-content-center">
    @* <EditForm class="form-group">
        <div class="mb-3">
            <label for="username">Username</label>
            <InputText type="text" class="form-control" id="username" placeholder="Enter Admin Username" required />
        </div>
        <div>
            <label for="password">Password</label>
            <InputText type="password" class="form-control" id="password" placeholder="Enter Admin Password" required />
        </div>
    </EditForm> *@
</div>

@code 
{

}
